* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.home {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cell {
  width: 45%;
  float: left;
  border-top: 1px solid green;
  padding: 10px;
  margin-top: 20px;
}

.title {
  margin-top: 10px;
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left;
}

pre {
  background: #464646;
  font-size: 18px;
  text-align: left;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

li {
  margin-top: 10px;
}

li.dot {
  list-style: disc;
  font-weight: 600;
}

.flex {
  display: flex;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mt10 {
  margin-top: 10px;
}